#banner {
  margin: 0 auto;
  display: flex;
}
#cardsHome {
  margin: 30px;
  width: 250px;
  height: 400px;
  text-align: center;
  background-color: black;
  box-shadow: 10px 10px 20px black;
  color: white;
  border-radius: 20px;
}

#home {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  padding-bottom: 300px;
  min-height: 720px;
  justify-content: space-around;
}
#fotoperfil {
  width: 230px;
  border-radius: 100%;
  height: 230px;
  margin: 5px;
}
#linkCard {
  text-decoration: none;
  color: aliceblue;
}
.card-title-home {
  display: flex;
  height: 60px;
  align-items: center;
  margin: 10px;
  color: aliceblue;
  justify-content: center;
}
.card-text-home {
  margin: 10px;
  font-weight: 100;
  font-size: 15px;
}
#bodyHome {
  background-color: black;
  height: 100%;
}
